.btn {
    background-color: #D4AF37;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn:hover {
    background-color: #BCAAA4;
    transform: translateY(-5px);
  }
  
  .btn:active {
    transform: translateY(0);
  }
  